{% extends 'base.html' %}

{% block content %}



<div class="container mt-4">
    <div class="row">
        {%for event in events%}
        <div class="col-lg-12 col-md-12">
            <div class="card my-1">
                <img src="img/exhibition.jpg" class="card-img-top" alt="">
                <div class="card-body text-dark">
                    <h5 class="card-title">{{event.name}} <span
                            class="badge bg-warning text-dark">{{event.status}}</span>
                    </h5>
                    <p class="card-text">{{event.description}}</p>
                    <a class="btn btn-primary btn-sm" href="{{url_for('event.show', id=event.id)}}">View</a>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{% endblock %}